@import '../../main.scss';

.all-records {
  margin: 0 5vw;
  margin-bottom: 5rem;

  .all-records-title {
    font-size: 1.2rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding-left: 0;

    li.presidents,
    li.attractions {
      background-color: $background;
      padding: 15px;
      border: 1px solid $secondary;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 1.5rem;
        color: $primary;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: $secondary;
        margin: 5px 0;
      }
    }

    li.airports {
      background-color: $background;
      padding: 15px;
      border: 1px solid $secondary;
      border-radius: 8px;
      text-align: left;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      h2 {
        font-size: 1.5rem;
        color: $secondary;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.2rem;
        color: $black;
        margin-bottom: 5px;

        &:nth-child(2) {
          color: $primary;
        }

        &:nth-child(3) {
          color: $secondary;
        }
      }
    }
  }
}
